@media (min-width: 1200px) {
    #phonee {
        width: 45% !important;
    }
    #lead {
        width: 45% !important;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (max-width: 767px) {
    h1 {
        font-size: 25px !important;
        font-weight: 700;
    }
    h2 {
        font-size: 19px !important;
    }
    h3 {
        font-size: 22px;
        color: #3a4d57 !important;
    }
    .graphicElement {
        display: none;
    }
    .graphicElement2 {
        display: none;
    }
    div {
        text-align: center;
    }
    #phonee {
        right: 0;
        left: -10%;
        top: 0;
        bottom: 25%;
        width: 85% !important;
    }
    #lead {
        right: 0;
        left: -10%;
        top: 0;
        bottom: 25%;
        width: 85% !important;
    }
    #cuantos {
        margin-left: 0%;
        margin-top: 33%;
    }
    #negocios {
        width: 100%;
        position: absolute;
        top: 70%;
        bottom: 0;
        right: 0;
        left: 0;
    }
    #para {
        position: absolute;
        bottom: 270%;
        color: #00A4A7 !important;
    }
    .fa {
        font-size: 28px;
    }
    #thirdLeft {
        width: 100%;
        margin-top: 110%;
    }
    #unAlgoritmo {
        position: absolute;
        bottom: 190%;
        color: #00A4A7 !important;
    }
    #algoritmo {
        height: auto;
        width: 60%;
        top: 0;
        bottom: 25%;
        left: 0;
        right: 0;
    }
    #fourthLeft {
        width: 100% !important;
    }
    #thirdLeft {
        width: 100%;
        position: absolute;
        bottom: 10%;
    }
    #app1 {
        width: 80%;
        top: 0%;
        bottom: 60%;
        right: 0%;
        left: -55%;
    }
    #app2 {
        width: 80%;
        top: 0%;
        bottom: 60%;
        right: 0%;
        left: 0%;
    }
    #app3 {
        width: 80%;
        top: 0%;
        bottom: 60%;
        right: 0%;
        left: 35%;
    }
    #likes {
        width: 85%;
        position: initial;
    }
    #enviar {
        float: center !important;
    }
    #cinta {
        visibility: hidden !important;
    }
    .socialBackground {
        height: -webkit-fill-available !important;
    }
    #video-backfround {
        height: -webkit-fill-available !important;
    }
    .carta {
        color: #3a4d57;
        background-color: white;
        margin: 10px;
        text-align: left !important;
    }
    .counter {
        color: #3a4d57 !important;
    }
}