@media (min-width: 1200px) {
    #phonee {
        width: 45% !important;
    }
    #lead {
        width: 45% !important;
    }
    .aviso{
        float: right;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (max-width: 767px) {
    hr {
        visibility: visible;
        -webkit-margin-before: -1em;
        -webkit-margin-after: -1em;
    }
    h1 {
        font-size: 25px !important;
        font-weight: 700;
    }
    h2 {
        font-size: 16px !important;
    }
    h3 {
        font-size: 22px;
        color: #3a4d57 !important;
    }
    .box-vid {
        background: -webkit-linear-gradient(left, #00CBB9, #00A2B9);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #00CBB9, #00A2B9);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #00CBB9, #00A2B9);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #00CBB9, #00A2B9);
        /* Standard syntax (must be last) */
    }
    .white-div {
        background-color: #E8F2FA;
        height: 700px;
    }
    .graphicElement {
        display: none;
    }
    .graphicElement2 {
        display: none;
    }
    div {
        text-align: center;
    }
    #phonee {
        right: 0;
        left: -10%;
        top: 0;
        bottom: 25%;
        width: 85% !important;
    }
    #lead {
        right: 0;
        left: -10%;
        top: 0;
        bottom: 25%;
        width: 85% !important;
    }
    #cuantos {
        margin-left: 0%;
        margin-top: 20%;
    }
    #negocios {
        width: 100%;
        position: absolute;
        top: 70%;
        bottom: 0;
        right: 0;
        left: 0;
    }
    #para {
        color: #00A4A7;
    }
    .fa {
        font-size: 28px;
    }
    #thirdLeft {
        width: 100%;
        margin-top: 190%;
        height: 650px;
    }
    #third {
        height: 750px
    }
    #unAlgoritmo {
        color: #00A4A7;
    }
    #algoritmo {
        height: auto;
        width: 90%;
        top: 0;
        bottom: 40%;
        left: 0;
        right: 0;
    }
    #fourthLeft {
        width: 75% !important;
        margin-left: 0%;
        position: absolute;
    }
    #fourthLeft {
        width: 75% !important;
        position: absolute;
        left: 13%;
        right: 0;
    }
    #app1 {
        width: 80%;
        top: 0%;
        bottom: 50%;
        right: 0%;
        left: -55%;
    }
    #app2 {
        width: 80%;
        top: 0%;
        bottom: 50%;
        right: 0%;
        left: 0%;
    }
    #app3 {
        width: 80%;
        top: 0%;
        bottom: 50%;
        right: 0%;
        left: 35%;
    }
    #likes {
        width: 85%;
        position: initial;
    }
    #enviar {
        float: center !important;
    }
    #cinta {
        visibility: hidden !important;
    }
    .socialBackground {
        height: -webkit-fill-available !important;
    }
    #video-background {
        height: -webkit-fill-available !important;
    }
    .bluet-div {
        height: 500px;
    }
    #social-div {
        height: 700px;
    }
    .navlogo {
        visibility: hidden;
    }
    .Wnavlogo {
        position: absolute;
        visibility: visible;
        left: 0%;
        right: 0%;
        top: 0%;
    }
    nav {
        background-color: rgba(57, 79, 87, .30);
        top: 0;
    }
    .side-nav {
        background-color: rgba(57, 79, 87, .90);
        color: white;
    }
    .side-nav {
        margin-top: 57px !important;
    }
    .side-nav li>a {
        color: white;
    }
    .carta {
        color: #3a4d57;
        background-color: rgba(255, 255, 255, .9);
        text-align: left !important;
        margin-top: 10px;
        padding: 15px;
    }
    .counter {
        color: #3a4d57 !important;
        font-size: 25px !important;
    }
    .static {
        color: #3a4d57 !important;
        font-size: 25px !important;
    }
    .mas {
        margin-bottom: -20px;
        margin-top: -20px;
    }
    h5 {
        font-size: 20px;
        margin-top: 5px;
    }
    #datos {
        height: 650px;
    }
    .vid2-div {
        height: 500px;
    }
    .aviso{
        float: center;
    }
    #profesionistas {
        visibility: visible;
        height: auto;
        width: 90%;
        margin: auto;
        position: absolute;
        top: -15%;
        right: 0;
        left: 0;
        bottom: 5%;
    }
}