@-moz-document url-prefix() {
    .triangle1 {
        margin-top: -170%;
    }
    .triangle2 {
        margin-left: 80%;
        margin-top: 140%;
    }
    #app1{
        margin-top: -5%;
    }
    #app2{
        margin-top: 10%;
    }
    #app3{
        margin-top: 0%;
    }
    #optimiza {
        margin-left: 15%;
    }
    .parallax-container {
        height: 1000px;
    }
}