@media (min-width: 1200px) {
    h2 {
        color: red !important; 
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    h2 {
        color: blue;
    }
}

@media (max-width: 767px) {
    h2 {
        color: green;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 35px;
    }
    h1 {
        font-size: 40px;
    }
    div{
        text-align: center;
    }
    #first {
        margin-top: 140%;
    }
    #second {
        margin-top: 50%;
    }
    #phone {
        margin-top: 15%;
        width: 120% !important;
    }
    #lead {
        margin-top: 15%;
        width: 120% !important;
    }
    
    .socialMedia{
        font-size: 35px !important;
    }
}

nav {
    background:rgba(0, 0, 0, 0.15);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: lowercase;
}

.navlogo {
    padding-left: 25px;
    margin-top: 10px;
}

.cinta {
    transform: rotate(85deg);
    height: 375px;
}

.uno {
    animation-delay: 3;
}

#logo{
    height: auto;
    width: 50%
}

#phone {
    position: absolute;
    left: -5%;
    top: -0%;
    height: auto;
    width: 55%;
  }
  
#lead {
    -webkit-animation-delay: 2s;
    position: absolute;
    left: -5%;
    top: -0%;
    height: auto;
    width: 55%;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.lowercase {
    text-transform: lowercase;
}

h1 {
    color: white;
}

h2 {
    color: #3a4d57;
}

.up {
    height: 245px;
    width: 1500px;
}

.down {
    height: 245px;
    width: 1500px;
}

.socialMedia{
    color: white;
    font-size: -webkit-xxx-large;
}

.parallax-container {
    height: 1000px;
}

.blue-div {
    background:#A3E1F8;
}

.green-div {
    background:#6BE1B7;
}

.brown-div {
    background:#D39263;   
}

.tabs.tabs-transparent .tab a.active {
    color: #3a4d57;
}

.tabs.tabs-transparent .tab a{
    color: #3a4d57;
}

.tabs.tabs-transparent .indicator {
    background-color: rgb(61, 170, 209);
    margin-bottom: 10px;
}

.linea {
    color: #3a4d57;
    height: 100px;
    width: 100px;
}