@media (min-width: 1200px){
    #phone {
        width: 45% !important;
    }
    #lead {
        width: 45% !important;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #phone {
        margin-top: 120px;
    }
    #lead {
        margin-top: 120px;
    }
    .socialBackground {
        height: -webkit-fill-available !important;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 35px;
        font-weight: 400 !important;
    }
    h1 {
        font-size: 40px;
        font-weight: 300 !important;
    }
    div{
        text-align: center;
    }
    #cuantos {
        margin-top: 140%;
    }
    #thirdLeft {
        margin-top: 50%;
    }
    #phone {
        margin-top: 15%;
        width: 120% !important;
    }
    #lead {
        margin-top: 15%;
        width: 120% !important;
    }
    #enviar {
        float: center !important;
    }
    #cinta {
        visibility: hidden !important;
    }
    .socialMedia{
        font-size: 35px !important;
    }
    .socialBackground {
        height: -webkit-fill-available !important;
    }
    .carta {
        color: #3a4d57;
        background-color: white;
        margin: 10px;
        text-align: left !important;
    }
    .counter {
        color: #3a4d57 !important;
    }
    
}

nav {
    background-color: rgba(255, 255, 255, 0.59);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0;
    color: #3a4d57;
}

.navlogo {
    padding-left: 25px;
    margin-top: 10px;
}

#sidenav-overlay {
    z-index: 996;
}

#phone {
    position: absolute;
    left: -5%;
    top: -0%;
    height: auto;
    width: 45%;
}
  
#lead {
    -webkit-animation-delay: 2s;
    position: absolute;
    left: -5%;
    top: -0%;
    height: auto;
    width: 45%;
}

#app1 {
    height: auto;
    width: 40%;
    position: absolute;
    margin-top: -10%;
    -webkit-animation-delay: .5s;
}
#app2 {
    height: auto;
    width: 40%;
    position: absolute;
    margin-top: -5%;
    margin-left: 10%;
    -webkit-animation-delay: 1s;
}
#app3 {
    height: auto;
    width: 40%;
    position: absolute;
    margin-top: 0%;
    margin-left: 20%;
    -webkit-animation-delay: 1.5s;
}

.algoritmo {
    height: auto;
    width: 90%;
}

#prospectos {
    height: auto;
    width: 33%;
    position: absolute;
    margin-top: -19%;
    margin-left: 8%;
}

#foot {
    height: 10%;
    background:#434a4e;
}

#enviar {
    float: right;
    background-color: #3a4d57;
}

#navb {
    z-index: 100;
}

.social {
    background-image: url("../app/assets/img/like.png");
}

.counter {
    color: white;
}

.modal-content {
    color: #3a4d57;
}

.lowercase {
    text-transform: lowercase;
}

h1 {
    color: white;
}

h2 {
    color: #3a4d57;
}

.up {
    height: auto;
    width: 23%;
}

.down {
    height: auto;
    width: 23%;
}

.socialMedia{
    color: white;
}

.parallax-container {
    height: 1000px;
}

.bluem-div {
    background:#00B6B9;
}

.blue-div {
    background:#A3E1F8;
}

.gray-div {
    background:#434a4e;
    color: white !important;    
}

.brown-div {
    background:#D39263;   
}

.dblue-div {
    background-color: #0094D8;
}

.tabs.tabs-transparent .tab a.active {
    color: #3a4d57;
}

.tabs.tabs-transparent .tab a{
    color: #3a4d57;
}

.tabs.tabs-transparent .indicator {
    background-color: rgba(61, 170, 209, 1);
    margin-bottom: 10px;
}

.linea {
    color: #3a4d57;
    height: 100px;
    width: 100px;
}

.adress {
    text-align: center;
}

.modal .modal-content {
    padding: 24px;
    text-align: center;
}

.graphicElement{
    border-bottom: 12px solid rgba(33, 222, 206, 1);
    height: 0 !important;
    min-height: 0 !important;
    width: 51px;
    position: absolute;
}

#linkedIn {
    text-transform: initial;
}

#social-div {
    background-color: rgba(255, 255, 255,0.85);
}

#descubre {
    background-color: white;
    color: #00B6B9;
    text-transform: none;
    width: 260px;
    font-size: 24px;
}

#descubre:hover {
    background-color:#ff712d;
    color: white;
}

#equipo {
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    border-color: white;
    border-style: solid; 
    text-transform: none;
    width: 260px;
}

#equipo:hover {
    background-color: #ff712d;
    color: white;
    border-style: none;
}

.invisible {
    visibility: hidden;
}


.visible {
    visibility: visible;
}

nav ul a {
    color: #3a4d57;
    font-weight: 500;
}

.side-nav {
    background-color: rgba(255, 255, 255, 0.8);
}

.yellow-div {
    background-color: rgb(255, 194, 76);
}

.carta {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

.mas {
    display: -webkit-inline-box;
    color: white;
}
.up1 {
    position: absolute;
    height: auto;
    width: 20%;
    margin-top: -65%;
}
.down1 {
    position: absolute;
    height: auto;
    width: 20%;
    margin-left: 20.5%;
    margin-top: -40%;
}
.up2 {
    position: absolute;
    height: auto;
    width: 20%;
    margin-left: 41%;
    margin-top: -65%;
}
.down2 {
    position: absolute;
    height: auto;
    width: 20%;
    margin-left: 61.5%;
    margin-top: -40%;
}
#cinta {
    transform: rotate(-10deg);
}
.triangle1 {
    background-color: rgba(255, 255, 255, .9);
    height: 1450px;
    width: 500px;
    position: absolute;
    margin-top: -764px;
    transform: rotate(50deg);
}

.triangle2 {
    background-color: rgba(255, 255, 255, .9);
    height: 1450px;
    width: 500px;
    position: absolute;
    margin-left: 1250px;
    margin-top: 710px;
    transform: rotate(50deg);
}