@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 1199px) {
    h2 {
        color: blue !important;
    }
    #phone {
        margin-top: 120px;
    }
    #lead {
        margin-top: 120px;
    }
}

@media (max-width: 767px) {

}

@media (max-width: 480px) {
    h2 {
        font-size: 35px;
    }
    h1 {
        font-size: 40px;
    }
    div{
        text-align: center;
    }
    #first {
        margin-top: 140%;
    }
    #second {
        margin-top: 50%;
    }
    #phone {
        margin-top: 15%;
        width: 120% !important;
    }
    #lead {
        margin-top: 15%;
        width: 120% !important;
    }
    
    .socialMedia{
        font-size: 35px !important;
    }
    #enviar {
        float: center !important;
    }
}

nav {
    background:rgba(0, 0, 0, 0.15);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: lowercase;
}

.navlogo {
    padding-left: 25px;
    margin-top: 10px;
}

#cinta {
    margin-left: -20px;
    transform: rotate(-15deg);
}

.uno {
    animation-delay: 3;
}

#logo{
    height: auto;
    width: 50%;
}

#phone {
    position: absolute;
    left: -5%;
    top: -0%;
    height: auto;
    width: 45%;
}
  
#lead {
    -webkit-animation-delay: 2s;
    position: absolute;
    left: -5%;
    top: -0%;
    height: auto;
    width: 45%;
}

#app {
    height: auto;
    width: 100%;
}

#completePhone {
    height: auto;
    width: 75%;
}

#foot {
    height: 10%;
    background:#434a4e;
}

#enviar {
    float: right;
    background-color: #3a4d57;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.social {
    background-image: url("../app/assets/img/like.png");
}


.counter {
    color: white;
}

.modal-content {
    color: #3a4d57;
}

.lowercase {
    text-transform: lowercase;
}

h1 {
    color: white;
}

h2 {
    color: #3a4d57;
}

.up {
    height: auto;
    width: 23%;
}

.down {
    height: auto;
    width: 23%;
}

.socialMedia{
    color: white;
}

.parallax-container {
    height: 1000px;
}

.bluem-div {
    background:#9DDFCD;
}

.blue-div {
    background:#A3E1F8;
}

.gray-div {
    background:#434a4e;
    color: white !important;    
}

.brown-div {
    background:#D39263;   
}

.dblue-div {
    background-color: #007cae;
}

.tabs.tabs-transparent .tab a.active {
    color: #3a4d57;
}

.tabs.tabs-transparent .tab a{
    color: #3a4d57;
}

.tabs.tabs-transparent .indicator {
    background-color: rgba(61, 170, 209, 1);
    margin-bottom: 10px;
}

.linea {
    color: #3a4d57;
    height: 100px;
    width: 100px;
}

.adress {
    text-align: center;
}

.graphicElement{
    border-bottom: 12px solid rgba(33, 222, 206, 1);
    height: 0 !important;
    min-height: 0 !important;
    width: 51px;
    position: absolute;
}

#negocios {
    position: absolute;
    margin-top: 25%;
    margin-left: 39%;
}