<div id="inicio" class="parallax-container valign-wrapper vid-div">
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#inicio" class="brand-logo">
                        <img class="navlogo" height="30px" src="app/assets/img/Logo_Koomkin.png" alt="">
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li class="tab">
                            <a href="#inicio">Inicio</a>
                        </li>
                        <li class="tab">
                            <a href="#second">Servicios</a>
                        </li>
                        <li class="tab">
                            <a href="#third">Nosotros</a>
                        </li>
                        <li class="tab">
                            <a href="#team">Equipo</a>
                        </li>
                        <li class="tab">
                            <a href="#contacto">Contacto</a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="#inicio">Inicio</a>
                        </li>
                        <li>
                            <a href="#second">Servicios</a>
                        </li>
                        <li>
                            <a href="#third">Nosotros</a>
                        </li>
                        <li>
                            <a href="#team">Equipo</a>
                        </li>
                        <li>
                            <a href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div id="cuantos" class="col s12 m6 s6 animated fadeInRight">
            <h1>¿Cuántos clientes nuevos
                <br> quieres hoy?</h1>
            <hr>
            <h2 style="color: white">Te presentamos el
                <b>canal de ventas Nº1
                    <br> para empresas en México.</b>
            </h2>
        </div>
        <div class="col s12 m6 s6">
            <img id="phonee" class="animated fadeInLeft" src="app/assets/img/telefono-sin-Lead.png" alt="">
            <img id="lead" class="animated zoomIn" src="app/assets/img/solo-el-Lead.png" alt="">
        </div>
    </div>
    <div class="triangle1"></div>
    <div class="triangle2"></div>
    <video autoplay loop id="video-background" muted plays-inline>
        <source src="app/assets/vid/koomkinWebVideo.mp4" type="video/mp4">
    </video>
</div>

<div id="second" class="parallax-container valign-wrapper white-div">
    <div class="parallax">
        <img class="socialBackground" src="app/assets/img/office.jpg">
    </div>
    <div class="row">
        <div id="cinta" class="col l6 m6 s12">
            <img class="up1" src="app/assets/img/1.png" alt="">
            <img class="down1" src="app/assets/img/2.png" alt="">
            <img class="up2" src="app/assets/img/3.png" alt="">
            <img class="down2" src="app/assets/img/4.png" alt="">
        </div>
        <div id="negocios" class="col l6 m6 s12 invisible">
            <div class="graphicElement">
            </div>
            <div class="secondElements">
                <h1 style="color: #3a4d57">
                    <b>Para todas las empresas</b>
                </h1>
                <h2 class="thicker">Koomkin esta diseñado para ayudar a
                    <b>cualquier tipo de empresa o negocio</b> a incrementar sus ventas, sin importar su giro o tamaño.
                </h2>
            </div>
        </div>
    </div>
</div>

<div id="third" class="parallax-container valign-wrapper gray-div">
    <div class="container">
        <div class="row">
            <div id="thirdLeft" class="col l7 m7 s12 invisible">
                <div class="graphicElement" style="border-bottom: 12px solid white;">
                </div>
                <h1>
                    <b>Un algoritmo inteligente</b>
                </h1>
                <h2 class="socialMedia">Nuestro sistema de
                    <b>inteligencia artificial</b> toma desiciones para reducir el costo por captar clientes nuevos y aumenta
                    el retorno de inversión.
                    <br>
                    <div class="fa fa-facebook"></div>
                    <div class="fa fa-google"></div>
                    <div class="fa fa-instagram"></div>
                    <div class="fa fa-linkedin"></div>
                    <div class="fa fa-twitter"></div>
                    <div class="fa fa-youtube"></div>
                    <div class="fa fa-foursquare"></div>
                    <div class="fa fa-envelope"></div>
                </h2>
            </div>
            <div id="thirdRight" class="col l5 m5 s12 invisible">
                <img class="algoritmo" src="app/assets/img/animacion.gif" alt="">
            </div>
        </div>
    </div>
</div>

<div id="fourth" class="parallax-container valign-wrapper bluet-div">
    <div class="parallax">
        <img class="socialBackground" src="app/assets/img/ipad.jpg">
    </div>
    <div id="fElements" class="row">
        <div id="fourthLeft" class="col l5 m5 s12 invisible">
            <div class="graphicElement" style="border-bottom: 12px solid white;">
            </div>
            <h1 style="color: white">
                <b>Información a tiempo</b>
            </h1>
            <h2 style="color: white">Ingresa desde nuestra plataforma y evalúa en tiempo real
                <br>
                <b>el desempeño de tu campaña.</b>
            </h2>
        </div>
        <div class="col l7 m7 s12">
            <img id="app1" class="invisible" src="app/assets/img/app1.png" alt="">
            <img id="app2" class="invisible" src="app/assets/img/app2.png" alt="">
            <img id="app3" class="invisible" src="app/assets/img/app3.png" alt="">
        </div>
    </div>
</div>

<div id="social-div" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="socialBackground" src="app/assets/img/fondo.svg">
    </div>
    <div class="socialElements invisible">
        <div class="row">
            <div id="optimiza" class="col l6 m6 s12">
                <div class="graphicElement">
                </div>
                <h1 style="color: #3a4d57">
                    <b>Optimiza tu campaña</b>
                </h1>
                <h2>Evalúa tus clientes potenciales y Koomkin logic se configura para
                    <br>
                    <b>mandarte solamente clientes potenciales que te sirvan.</b>
                </h2>
            </div>
            <img class="col l6 m6 s12" id="likes" src="app/assets/img/prospectos.gif" alt="">
        </div>
    </div>
</div>

<div id="team" class="parallax-container valign-wrapper vid2-div">
    <div class="parallax">
        <img class="socialBackground" src="app/assets/img/vid2.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col l7 m7 s12 teamElements invisible">
                <div class="graphicElement">
                </div>
                <h1>
                    <b>Nuestro equipo</b>
                </h1>
                <h2 class="socialMedia">Contamos con más de 50 expertos para brindarte
                    <b>las mejores herramientas digitales y el mejor servicio.</b>
                </h2>
                <a id="equipo" class="btn-large modal-trigger" href="#modal1">Únete a nuestro equipo</a>
            </div>
        </div>
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Vacantes</h4>
                <div class="container">
                    <form action="https://formspree.io/gerardo.mdn95@gmail.com" method="POST">
                        <div class="input-field">
                            <input type="text" name="Nombre" class="validate" required>
                            <label>Nombre</label>
                        </div>
                        <div class="input-field">
                            <input type="email" name="email" class="validate" required>
                            <label>Email</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="Asunto" class="validate" required>
                            <label>Asunto</label>
                        </div>
                        <div class="input-field">
                            <textarea id="textarea1" name="Mensaje" class="materialize-textarea" required></textarea>
                            <label>Mensaje</label>
                        </div>
                        <div "input-field">
                            <p>Adjunta tu CV aquí</p>
                            <input name="CV" type="file">
                        </div>
                        <button id="enviar" class="waves-effect waves-light btn" type="submit" type="submit">Send</button>
                        <br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Salir</a>
            </div>
        </div>
    </div>
</div>
<div id="datos" class="parallax-container valign-wrapper bluem-div">
    <div class="parallax">
        <img class="socialBackground" src="app/assets/img/city.jpg">
    </div>
    <div class="container">
        <div class="row datosElements invisible">
            <div class="socialMedia">
                <div id="datosDiv">
                    <div class="graphicElement" style="border-bottom: 12px solid white;">
                    </div>
                    <h1>
                        <b>Datos divertidos</b>
                    </h1>
                </div>
                <div class="col l3 m3 s12">
                    <div id="un" class="carta">
                        <div class="mas">
                            <h3 style="color: white;">+ </h2>
                                <h2 class="counter">8,000</h2>
                        </div>
                        <h5>Clientes contentos</h5>
                    </div>
                </div>
                <div class="col l3 m3 s12">
                    <div id="dos" class="carta">
                        <div class="mas">
                            <h3 style="color: white;">+ </h2>
                                <h2 class="counter">50,000</h2>
                        </div>
                        <h5>Impresiones en los principales canales digitales</h5>
                    </div>
                </div>
                <div class="col l3 m3 s12">
                    <div id="tres" class="carta">
                        <div class="mas">
                            <h3 style="color: white;">+ </h2>
                                <h2 class="counter">11,000</h2>
                        </div>
                        <h5>Clientes potenciales mensuales para nuestros clientes</h5>
                    </div>
                </div>
                <div class="col l3 m3 s12">
                    <div id="cuatro" class="carta">
                        <div class="mas">
                            <h3 style="color: white;">+ </h2>
                                <h2 class="counter">16,000</h2>
                        </div>
                        <h5>Reacciones en redes sociales</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contacto" class="parallax-container valign-wrapper yellow-div">
    <div class="container">
        <div class="graphicElement">
        </div>
        <h1 style="color: #3a4d57;">
            <b>Contacto</b>
        </h1>
        <h3 style="color: #3a4d57;">
            <b>Queremos escuchar sobre ti</b>
        </h3>
        <div class="row">
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-content">
                        <form>
                            <h4 id="mensajeContacto">Nos pondremos en contacto contigo</h1>
                                <div id="formulario">
                                    <div class="input-field">
                                        <input id="name" type="text" name="Nombre" class="validate" required>
                                        <label>Nombre</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="email" type="email" name="email" class="validate" required>
                                        <label>Email</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="phone" type="number" min="7" name="phone" class="validate" required>
                                        <label>Teléfono</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="subject" type="text" name="Asunto" class="validate" required>
                                        <label>Asunto</label>
                                    </div>
                                    <div class="input-field">
                                        <textarea id="message" id="textarea1" name="Mensaje" class="materialize-textarea" required></textarea>
                                        <label>Mensaje</label>
                                    </div>
                                    <button id="enviar" class="waves-effect waves-light btn" type="submit" onClick="insert_value()" value="Insert">Enviar</button>
                                </div>
                                <br>
                        </form>
                    </div>
                </div>
                <p>Polanco, CDMX</p>
                <b>contacto@koomkin.com</b>
                <b>(55) 5535 - 0499</b>
            </div>
            <div class="col l6 m6 s12">
            </div>
        </div>
    </div>
</div>

<script>var script_url = "https://script.google.com/macros/s/AKfycbzw9rPHoTxQmsoE1Qa6ZDVdkxTEtJIBUwsO-yL8HtIPJLu3ZpY/exec";

    function insert_value() {

        var name = $("#name").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var subject = $("#subject").val();
        var message = $("#message").val();

        var url = script_url + "?callback=ctrlq&name=" + name + "&email=" + email + "&phone=" + phone + "&subject=" + subject + "&message=" + message + "&action=insert";

        var request = jQuery.ajax({
            crossDomain: true,
            url: url,
            method: "GET",
            dataType: "jsonp"
        });
        $('#formulario').hide();
        $('#mensajeContacto').addClass("animated fadeInLeft");
        $('#mensajeContacto').show();
    }
</script>

<footer class="page-footer gray-div">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Grupo Koomkin
        </div>
    </div>
</footer>