<nav class="nav-extended navbar-fixed">
    <div class="nav-content">
        <div class="left">
            <img class="navlogo" height="25px" src="app/assets/img/wlogo.png" alt="">
        </div>
        <div class="right">
            <ul class="tabs tabs-transparent hide-on-med-and-down">
                <li class="tab">
                    <a class="lowercase" href="#inicio">Inicio</a>
                </li>
                <li class="tab">
                    <a class="lowercase" class="active" href="#servicio">Servicio</a>
                </li>
                <li class="tab">
                    <a class="lowercase" href="#nosotros">Nosotros</a>
                </li>
                <li class="tab">
                    <a class="lowercase" href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="parallax-container valign-wrapper bluem-div">
        <div class="row">
            <div class="col l5 m5 s12">
                <img id="phone" class="animated zoomIn" src="app/assets/img/telefono-sin-Lead.png" alt="">
                <img id="lead" class="animated zoomIn" src="app/assets/img/solo-el-Lead.png" alt="">
            </div>
            <div id="first" class="col l7 m7 s12 animated zoomIn">
                <img id="logo" src="app/assets/img/Logo_Koomkin.png" alt="Koomkin Logo">
                <h1>
                    <b>¿Cuántos clientes nuevos quieres hoy?</b>
                </h1>
                <h2>Te presentamos el canal de ventas
                    <b>No. 1 para PYMES</b> en México.</h2>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper blue-div">
        <div class="row">
            <div id="cinta" class="col l7 m7 s12">
                <img class="up" src="app/assets/img/1.png" alt="">
                <img class="down" src="app/assets/img/2.png" alt="">
                <img class="up" src="app/assets/img/3.png" alt="">
                <img class="down" src="app/assets/img/4.png" alt="">
            </div>
            <div id="negocios" class="col l5 m5 s12 cinta2">
                <div class="graphicElement">
                </div>
                <h1>
                    <b>Para todos los negocios</b>
                </h1>
                <h2>Koomkin está diseñado para funcionar
                    <b>con cualquier tipo de empresa, sin importar su giro o su tamaño.</b>
                </h2>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper gray-div">
        <div class="container sec2">
            <div class="row">
                <div id="second" class="col l7 m7 s12 animated fadeInUp">
                    <div class="graphicElement">
                    </div>
                    <h1>
                        <b>Un algoritmo inteligente</b>
                    </h1>
                    <h2 class="socialMedia">Nuestro sistema de inteligencia artificial identifica la cobertura óptima y
                        <b>el canal más efectivo para que obtengas clientes nuevos.</b>
                        <div>
                            <br>
                            <div class="fa fa-instagram"></div>
                            <div class="fa fa-linkedin"></div>
                            <div class="fa fa-twitter"></div>
                            <div class="fa fa-facebook"></div>
                            <div class="fa fa-google"></div>
                            <div class="fa fa-youtube"></div>
                            <div class="fa fa-foursquare"></div>
                        </div>
                    </h2>
                </div>
                <div class="col l5 m5 s12 animated fadeInDown">
                    <img class="centrarImg" src="app/assets/img/app.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper bluem-div">
        <div class="container">
            <div class="row">
                <div class="col l7 m7 s12">
                    <img id="app" class="animated bounceInDown" src="app/assets/img/app.png" alt="">
                </div>
                <div class="col l5 m5 s12">
                    <div class="graphicElement">
                    </div>
                    <h1>
                        <b>Información a tiempo</b>
                    </h1>
                    <h2>Ingresa desde nuestra App y evalúa en tiempo real el
                        <b>desempeño de tu campaña.</b>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper social-div">
        <div class="container">
            <div class="graphicElement">
            </div>
            <h1 style="color: #3a4d57">
                <b>Optimiza tu campaña</b>
            </h1>
            <div class="row">
                <div class="col l8 m8 s12">
                    <h2>Evalúa tus prospectos y Koomkin logic se configura para
                        <b>mandarte solamente prospectos que te sirvan.</b>
                    </h2>
                </div>
                <div class="col l4 m4 s12">
                    <img id="completePhone" src="app/assets/img/telefono-completo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper gray-div">
        <div class="container sec2">
            <div class="row">
                <div id="second" class="col l7 m7 s12 animated fadeInUp">
                    <div class="graphicElement">
                    </div>
                    <h1>
                        <b>Nuestro equipo</b>
                    </h1>
                    <h2 class="socialMedia">Contamos con más de 30 expertos para brindarte
                        <b>las mejores herramientas digitales y el mejor servicio.</b>
                    </h2>
                </div>
            </div>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Únete a nuestro equipo</a>
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Vacantes</h4>
                    <p>Inicia sesión con LinkedIn</p>
                    <p>o</p>
                    <p>Adjunta tu CV aquí</p>
                    <input type="file">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Salir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper dblue-div">
        <div class="container">
            <div class="row">
                <div class="socialMedia">
                    <div class="col l12 m12 s12">
                        <div class="graphicElement">
                        </div>
                        <h1>
                            <b>Datos divertidos</b>
                        </h1>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="col l12 m12 s12">
                            <h2 class="counter timer count-title count-number" data-to="8000" data-speed="1500"></h2>
                        </div>
                        <div class="col l12 m12 s12">
                            <h5>Clientes contentos</h5>
                        </div>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="col l12 m12 s12">
                            <h2 class="counter timer count-title count-number" data-to="50000" data-speed="9000"></h2>
                        </div>
                        <div class="col l12 m12 s12">
                            <h5>Impresiones en los principales canales digitales</h5>
                        </div>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="col l12 m12 s12">
                            <h2 class="counter timer count-title count-number" data-to="11000" data-speed="1500"></h2>
                        </div>
                        <div class="col l12 m12 s12">
                            <h5>Prospectos mensuales para nuestros clientes</h5>
                        </div>
                    </div>
                    <div class="col l3 m3 s12">
                        <div class="col l12 m12 s12">
                            <h2 class="counter timer count-title count-number" data-to="16000" data-speed="1500"></h2>
                        </div>
                        <div class="col l12 m12 s12">
                            <h5>Tazas de café</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="container">
            <div class="graphicElement">
            </div>
            <h1 style="color: #3a4d57;">
                <b>Contacto</b>
            </h1>
            <div class="row">
                <div class="col l6 m6 s12">
                    <form action="">
                        <div class="input-field">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Nombre</label>
                        </div>
                        <div class="input-field">
                            <input id="last_name" type="email" class="validate">
                            <label for="last_name">Email</label>
                        </div>
                        <div class="input-field">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Asunto</label>
                        </div>
                        <div class="input-field">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Mensaje</label>
                        </div>
                        <a id="enviar" class="waves-effect waves-light btn">Enviar</a>
                        <br>
                        <br>
                    </form>
                </div>
                <div class="adress col l6 m6 s12">
                    <b>Queremos escuchar sobre ti</b>
                    <p>Av. Horacio 1844 - 7C</p>
                    <p>Polanco, CDMX</p>
                    <br>
                    <b>contacto@koomkin.com</b>
                    <b>Tel: (55) 5535 - 0499</b>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer gray-div">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Grupo Koomkin
        </div>
    </div>
</footer>