<div id="inicio" class="parallax-container valign-wrapper bluem-div">
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#inicio" class="brand-logo">
                        <img class="navlogo" height="25px" src="app/assets/img/Logo_Koomkin.png" alt="">
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li class="tab">
                            <a href="#inicio">Inicio</a>
                        </li>
                        <li class="tab">
                            <a href="#second">Servicios</a>
                        </li>
                        <li class="tab">
                            <a href="#third">Nosotros</a>
                        </li>
                        <li class="tab">
                            <a href="#fourth">Equipo</a>
                        </li>
                        <li class="tab">
                            <a href="#contacto">Contacto</a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="#inicio">Inicio</a>
                        </li>
                        <li>
                            <a href="#servicios">Servicios</a>
                        </li>
                        <li>
                            <a href="#nosotros">Nosotros</a>
                        </li>
                        <li>
                            <a href="#equipo">Equipo</a>
                        </li>
                        <li>
                            <a href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col l5 m5 s12">
            <img id="phone" class="animated zoomIn" src="app/assets/img/telefono-sin-Lead.png" alt="">
            <img id="lead" class="animated zoomIn" src="app/assets/img/solo-el-Lead.png" alt="">
        </div>
        <div id="cuantos" class="col l7 m7 s12 animated zoomIn">
            <h1>¿Cuántos clientes nuevos quieres hoy?</h1>
            <hr>
            <h2 style="color: white">Te presentamos el canal de ventas
                <b></b>No. 1 para PYMES</b> en México.</h2>
            <a id="descubre" class="btn-large" href="#second">Descubre más</a>
        </div>
    </div>
</div>

<div id="second" class="parallax-container valign-wrapper blue-div">
    <div class="row">
        <div id="cinta" class="col l6 m6 s12">
            <img class="up1" src="app/assets/img/1.png" alt="">
            <img class="down1" src="app/assets/img/2.png" alt="">
            <img class="up2" src="app/assets/img/3.png" alt="">
            <img class="down2" src="app/assets/img/4.png" alt="">
        </div>
        <div id="negocios" class="col l6 m6 s12">
            <div class="graphicElement">
            </div>
            <div class="secondElements invisible">
                <h1>
                    <b>Para todos los negocios</b>
                </h1>
                <h2>Koomkin está diseñado para funcionar
                    <b>con cualquier tipo de empresa, sin importar su giro o su tamaño.</b>
                </h2>
            </div>
        </div>
    </div>
</div>
<div id="third" class="parallax-container valign-wrapper gray-div">
    <div class="container">
        <div class="row thirdElements invisible">
            <div id="unAlgoritmo" class="col l7 m7 s12">
                <div class="graphicElement">
                </div>
                <h1>
                    <b>Un algoritmo inteligente</b>
                </h1>
                <h2 class="socialMedia">Nuestro sistema de inteligencia artificial identifica la cobertura óptima y
                    <b>el canal más efectivo para que obtengas clientes nuevos.</b>
                    <div>
                        <br>
                        <div class="fa fa-instagram"></div>
                        <div class="fa fa-linkedin"></div>
                        <div class="fa fa-twitter"></div>
                        <div class="fa fa-facebook"></div>
                        <div class="fa fa-google"></div>
                        <div class="fa fa-youtube"></div>
                        <div class="fa fa-foursquare"></div>
                    </div>
                </h2>
            </div>
            <div class="col l5 m5 s12">
                <img id="app" src="app/assets/img/animacion.gif" alt="">
            </div>
        </div>
    </div>
</div>
<div id="fourth" class="parallax-container valign-wrapper bluem-div">
    <div class="container">
        <div class="row fourthElements invisible">
            <div class="col l7 m7 s12">
                <img id="app" src="app/assets/img/app.png" alt="">
            </div>
            <div class="col l5 m5 s12">
                <div class="graphicElement">
                </div>
                <h1>
                    <b>Información a tiempo</b>
                </h1>
                <h2>Ingresa desde nuestra App y evalúa en tiempo real el
                    <b>desempeño de tu campaña.</b>
                </h2>
            </div>
        </div>
    </div>
</div>
<div id="social-div" class="parallax-container valign-wrapper">
    <div class="parallax">
        <img class="socialBackground" src="app/assets/img/fondo.svg">
    </div>
    <div class="container socialElements invisible">
        <div class="graphicElement">
        </div>
        <h1 style="color: #3a4d57">
            <b>Optimiza tu campaña</b>
        </h1>
        <div class="row">
            <div class="col l8 m8 s12">
                <h2>Evalúa tus prospectos y Koomkin logic se configura para
                    <b>mandarte solamente prospectos que te sirvan.</b>
                </h2>
            </div>
            <div class="col l4 m4 s12">
                <img id="prospectos" src="app/assets/img/prospectos.gif" alt="">
            </div>
        </div>
    </div>
</div>

<div id="team" class="parallax-container valign-wrapper gray-div">
    <div class="container">
        <div class="row">
            <div class="col l7 m7 s12 teamElements invisible">
                <div class="graphicElement">
                </div>
                <h1>
                    <b>Nuestro equipo</b>
                </h1>
                <h2 class="socialMedia">Contamos con más de 30 expertos para brindarte
                    <b>las mejores herramientas digitales y el mejor servicio.</b>
                </h2>
                <a id="equipo" class="btn-large modal-trigger" href="#modal1">Únete a nuestro equipo</a>
            </div>
        </div>
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Vacantes</h4>
                <div class="container">
                    <!-- <form id="gform" action="POST" action="https://script.google.com/macros/s/AKfycbw_XxVbquTDFI9NMSeNEjXgZVrw_akG_uRwUzTp6aRkfxuzncA/exec">
                        <div class="input-field">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Nombre</label>
                        </div>
                        <div class="input-field">
                            <input id="last_name" type="email" class="validate">
                            <label for="last_name">Email</label>
                        </div>
                        <div class="input-field">
                            <input id="last_name" type="number" class="validate">
                            <label for="last_name">Teléfono</label>
                        </div>
                        <p>Adjunta tu CV aquí</p>
                        <input type="file">
                        <br>
                        <a id="enviar" class="waves-effect waves-light btn center">Enviar</a>
                    </form> -->
                    <form action="https://formspree.io/gerardo.mdn95@gmail.com" method="POST">
                        <div class="input-field">
                            <input type="text" name="Nombre" class="validate" required>
                            <label>Nombre</label>
                        </div>
                        <div class="input-field">
                            <input type="email" name="email" class="validate" required>
                            <label>Email</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="Asunto" class="validate" required>
                            <label>Asunto</label>
                        </div>
                        <div class="input-field">
                            <textarea id="textarea1" name="Mensaje" class="materialize-textarea" required></textarea>
                            <label>Mensaje</label>
                        </div>
                        <div "input-field">
                            <p>Adjunta tu CV aquí</p>
                            <input name="CV" type="file">
                        </div>
                        <button id="enviar" class="waves-effect waves-light btn" type="submit" type="submit">Send</button>
                        <br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Salir</a>
            </div>
        </div>
    </div>
</div>
<div id="datos" class="parallax-container valign-wrapper dblue-div">
    <div class="container">
        <div class="row datosElements invisible">
            <div class="socialMedia">
                <div class="col l12 m12 s12">
                    <div class="graphicElement">
                    </div>
                    <h1>
                        <b>Nuestros resultados</b>
                    </h1>
                </div>
                <div class="col l3 m3 s12">
                    <div class="carta">
                        <div class="mas">
                            <h2 style="color: white;">+ </h2>
                            <h2 class="counter timer count-title count-number" data-to="8000" data-speed="1500"></h2>
                        </div>
                        <h5>Clientes contentos</h5>
                    </div>
                </div>
                <div class="col l3 m3 s12">
                    <div class="carta">
                        <div class="mas">
                            <h2 style="color: white;">+ </h2>
                            <h2 class="counter timer count-title count-number" data-to="50000" data-speed="1500"></h2>
                        </div>
                        <h5>Impresiones en los principales canales digitales</h5>
                    </div>
                </div>
                <div class="col l3 m3 s12">
                    <div class="carta">
                        <div class="mas">
                            <h2 style="color: white;">+ </h2>
                            <h2 class="counter timer count-title count-number" data-to="11000" data-speed="1500"></h2>
                        </div>
                        <h5>Prospectos mensuales para nuestros clientes</h5>
                    </div>
                </div>
                <div class="col l3 m3 s12">
                    <div class="carta">
                        <div class="mas">
                            <h2 style="color: white;">+ </h2>
                            <h2 class="counter timer count-title count-number" data-to="16000" data-speed="1500"></h2>
                        </div>
                        <h5>Reacciones en redes sociales</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contacto" class="parallax-container valign-wrapper yellow-div">
    <div class="container">
        <div class="graphicElement">
        </div>
        <h1 style="color: #3a4d57;">
            <b>Contacto</b>
        </h1>
        <div class="row">
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-content">
                        <form action="https://formspree.io/gerardo.mdn95@gmail.com" method="POST">
                            <div class="input-field">
                                <input type="text" name="Nombre" class="validate" required>
                                <label>Nombre</label>
                            </div>
                            <div class="input-field">
                                <input type="email" name="email" class="validate" required>
                                <label>Email</label>
                            </div>
                            <div class="input-field">
                                <input type="text" name="Asunto" class="validate" required>
                                <label>Asunto</label>
                            </div>
                            <div class="input-field">
                                <textarea id="textarea1" name="Mensaje" class="materialize-textarea" required></textarea>
                                <label>Mensaje</label>
                            </div>
                            <button id="enviar" class="waves-effect waves-light btn" type="submit" type="submit">Send</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <div class="adress col l6 m6 s12">
                <b>Queremos escuchar sobre ti</b>
                <p>Av. Horacio 1844 - 7C</p>
                <p>Polanco, CDMX</p>
                <br>
                <b>contacto@koomkin.com</b>
                <b>Tel: (55) 5535 - 0499</b>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer gray-div">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Grupo Koomkin
        </div>
    </div>
</footer>